<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="bootstrap.min.css">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="" content="">
    <title></title>
  </head>
  <body class="bg-primary">
    <br>
    <br>
    <br>
    
    <div class="mx-auto w-75  rounded p-4" style="background-color:silver; border:1px solid white ">
      
      <h2 class="text-center"> Change Password </h2>
      <br>
      <br>
      
      
<form class="form-group" method="post" action="/">
  <label for="studentid"> Old Password </label>
  <br>
  <input id="studentid" class="form-control" name="oldpassword">
  <br>
  <label for="Password"> New Password</label>
  <input id="Password" class="form-control" name="newpassword">
  <br>
    <label for="Passwordc"> Confirm Password</label>
  <input id="Passwordc" class="form-control" name="confirmpassword">
  <br>
  <input  class="btn-primary text-center form-control text-white" value="Submit">
  <br>

  
  <br>
  <br>
  
  
</form>
      
      
      
      
    </div>
    
    
    
  <script src="bootstrap.min.js">
    
    
  </script>  
  </body>
</html>