<!DOCTYPE html>
<html>
  <head>
    <style>
    a p {
        color: blue;
      }
      
    </style>
    <link rel="stylesheet" href="bootstrap.min.css">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="" content="">
    <title></title>
  </head>
  <body class="bg-primary">
    <br>
    <br>
    <br>
    
    <div class="mx-auto w-75 rounded p-4" style="background-color:silver; border:1px solid white ">
      
      <h1 class="text-center"> Create Account </h1>
      <br>
      <br>
      
      
    <a href="" style="text-decoration:none" class="">  <p style="border:1px solid white" class="bg-white text-primary form-control text-center rounded p-2 "> Student</p> </a>
    <a href="" style="text-decoration:none">  <p style="border:1px solid white" class="p-2 text-center text-primary  bg-white  rounded form-control">EAO</p></a>
    <a href="" style="text-decoration:none">  <p style="border:1px solid white" class="p-2 text-center text-primary  bg-white  rounded form-control">Account  Maker</p></a>
    <a href="" style="text-decoration:none">  <p style="border:1px solid white" class="p-2 text-center text-primary  bg-white  rounded form-control">OIC</p></a>
      
      
      
      
    </div>
    
    
    
  <script src="bootstrap.min.js">
    
    
  </script>  
  </body>
</html>