<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="bootstrap.min.css">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="" content="">
    <title></title>
  </head>
  <body class="">
    <br>
    <br>
    <br>
  <div class="bg-primary mx-auto " style="width:99%;">
       <br>
    <br>
<div class="  mx-auto p-3" style="background-color:silver;width:97%;border:1px solid white">

<p style="visibility:none"></p>


<nav class="d-flex flex-row justify-content-around " style="list-style-type:none">
  <li class=""> Event/Activity ID: </li>
  
  
  <li class=""> Event/Activity Name:</li>
</nav>

<p class="text-center"> List of Participants</p>

<nav class="d-flex justify-content-between"  style="list-style-type:none">
 <li> 
 Semester 
 <select class="select bg-white">
   <option class=" ">2</option>
   <option class=" ">2</option>
 </select>  
 
 <span>School Year:</span>
 <input class="d-inline bg-white" >
 </li>
 
 <li>
   <a href="/">  <input style="border:1px solid white" type="button" value="Validate" class="bg-primary text-white"> </a>
   
 </li>
 
 <li><a href="">  <input style="border:1px solid white" type="button" value="Action" class="bg-primary text-white"> </a></li>
  
  
</nav>
<br>
<br>

<table class="table table-responsive">
  <tr class="bg-primary text-white">
    <td>No</td>
    <td>Student ID</td>
    <td>Student Name</td>
    <td>Course</td>
    <td>Yr & Section</td>
    <td>Date Start</td>
    <td> Date End</td>
    <td> Hour Rendered</td>
  </tr>
  
  
</table>
  
  
  
</div>
<br>
<br>
</div>
    
    
    
  <script src="bootstrap.min.js">
    
    
  </script>  
  </body>
</html>