<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css">
<style type="text/css">
  





</style>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Landing Page</title>

  <link rel="shortcut icon" href="/images/PLVLogo.png" sizes="16x16 32x32" type="image/png">
</head>
<body>




<div class="container col-md-10 ">
  <div class="row m-5 no-gutters shadow-lg">
    <div class="col-md-9 d-none d-md-block">
      <img src="/images/PLVBuilding.jpg" class="img-fluid" style="min-height:auto; min-width: auto;" />
    </div>
    <div class="col-md-3 bg-white p-1">

      <h1 class="text-center"> PLVSCS</h1>
      <center><img class="img-fluid mx-auto d-md-block" alt="Responsive image" src="/images/PLVLOGO.png" ></center>
     
      <br>
      <br>
      <h4 class="text-center"> Login as</h4>
      
    <a href="/student" >  <p style="border:1px solid white; background-color: #173979;" class=" form-control text-center rounded p-2 text-white"> Student</p> </a>
    <a href="/admin" >  <p style="border:1px solid white; background-color: #173979;" class="p-2 text-center   text-white rounded form-control"> Admin</p></a>
      
  </div>
</div>
</div>




  
</body>
</html>