<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="" content="">
    <title>Student Login</title>
    <link rel="shortcut icon" href="/images/PLVLogo.png" sizes="16x16 32x32" type="image/png">
  </head>
  <body class="bg-light">
    <br>
    <br>
    <br>
    
    <div class="mx-auto w-75  d-sm-none d-md-block rounded p-4" style="background-color: #173979; border:1px solid white; box-shadow: 20px 20px 100px -40px; ">
      
      <h1 class="text-center text-light">PLVSCS</h1>
      <center><img class="img-fluid mx-auto d-md-block" alt="Responsive image" src="/images/PLVLOGO.png" ></center>
      <br>
      <br>
      
      
<form class="form-group" method="post" action="/student">
  <label class="text-light" for="studentid"> Student ID </label>
  <br>
  <input type="" id="studentid" class="form-control" name="studentid">
  <br>
  <label class="text-light" for="Password">  Password</label>
  <input id="Password" type="password" class="form-control" name="password">
  <br>
  <input type="submit" class="btn-light text-center form-control text-dark" value="LOGIN">
  <br>
 <a class="text-light" style="text-align:right; text-decoration: none;" href="/forgot_password?user='student' "> <p  class=""> Forgot Password?</p></a>
  
  
  <br>
  <br>
  
  
</form>
      
      
      
      
    </div>
    
    
    
  <script src="/javascripts/bootstrap.min.js">
    
    
  </script>  
  </body>
</html>